* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3C8066;
}

main{
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-principal {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    width: 600px;
}

.foto-perfume-not img {
    width: 280px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.foto-perfume-mobile img {
    display: none;
}

.ladodireito-perfume {
    padding: 35px;
}

.descricao h3 {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 5px;
    padding-bottom: 15px;
    font-weight: 500;
}

.descricao h1 {
    line-height: 2rem;
    font-weight: 700;
    padding-bottom: 15px;
    font-family: 'Fraunces', serif;
}

.descricao p {
    color: gray;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:500;
    padding-bottom: 15px;
}

.conteiner-preco {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.conteiner-preco p {
    color: #3D8168;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.preco-cheio {
    color: gray;
    text-decoration:line-through;
    font-size: 1rem;
    margin-left: 15px;   
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.botao {
    display: flex;
    justify-content: center;
    background-color: #3C8066 ;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.botao img {
    margin-right: 10px;
}



@media screen and (max-width :630px) {

    main {
        flex-direction: column;
        padding:20px;
    }

    .conteiner-principal {
        flex-direction: column; 
        width: 350px;
        min-height: 600px;
    }

    .foto-perfume-not img {
        display: none;
    }

    .foto-perfume-mobile img {
        display: block;
        width: 100%;
        border-radius: 20px 20px 0 0 ;
    }

    .ladodireito-perfume {
        padding: 15px;
    }

    .descricao h3 {
        font-size: 14px;
    }

}

@media screen and (max-width :320px) {

    .conteiner-principal {
        width: 300px ;
    }

}
